In [34]:
import os
os.chdir("F:\zizo\RTKCorrection")
%pwd

'F:\\zizo\\RTKCorrection'

In [35]:
import pandas as pd
df1 = pd.read_csv("data/input_preprocesed.csv")
df2 = pd.read_csv("data/corrected_positions.csv")
df1.head()

   SatelliteID           C1C           L1C       D1C   S1C  GPST_seconds
0          4.0  2.183553e+07  1.147465e+08 -2062.373  44.0         15568
1          7.0  2.403299e+07  1.262942e+08  1800.175  46.0         15568
2          8.0  2.177553e+07  1.144312e+08   975.683  46.0         15568
3          9.0  2.159508e+07  1.134829e+08   541.655  49.0         15568
4         27.0  2.263255e+07  1.189348e+08 -1535.173  46.0         15568

In [36]:
df2.head()

    Latitude  Longitude     Height  GPST_seconds
0  27.682077  85.319258  1274.4728         15568
1  27.682035  85.319265  1255.8659         15569
2  27.682052  85.319251  1264.7933         15570
3  27.682024  85.319246  1249.0760         15571
4  27.681999  85.319208  1265.3450         15572

In [37]:
len(df1), len(df2)

(112082, 7891)

In [46]:
len(df1['GPST_seconds'].unique())

8019

In [38]:
df1_counts = df1['GPST_seconds'].value_counts().rename('df1_count')
df2_counts = df2['GPST_seconds'].value_counts().rename('df2_count')

# Combine into a single dataframe for comparison
comparison_df = pd.concat([df1_counts, df2_counts], axis=1).fillna(0)

# Find values present in df1 but not in df2 (with counts)
in_df1_not_df2 = comparison_df[comparison_df['df2_count'] == 0]
print("Values only in df1 with their counts:")
print(in_df1_not_df2)
print( in_df1_not_df2['df1_count'].sum())

Values only in df1 with their counts:
              df1_count  df2_count
GPST_seconds
21031                17        0.0
21652                16        0.0
21642                16        0.0
21129                16        0.0
21111                16        0.0
...                 ...        ...
23606                 1        0.0
23607                 1        0.0
23647                 1        0.0
23648                 1        0.0
23649                 1        0.0

[128 rows x 2 columns]
1226

In [39]:
df = pd.merge(df1, df2, on='GPST_seconds', how='left')
len(df)

112082

In [40]:
df.head()

,SatelliteID,C1C,L1C,D1C,S1C,GPST_seconds,Latitude,Longitude,Height
0,4.0,2.183553e+07,1.147465e+08,-2062.373,44.0,15568,27.682077,85.319258,1274.4728
1,7.0,2.403299e+07,1.262942e+08,1800.175,46.0,15568,27.682077,85.319258,1274.4728
2,8.0,2.177553e+07,1.144312e+08,975.683,46.0,15568,27.682077,85.319258,1274.4728
3,9.0,2.159508e+07,1.134829e+08,541.655,49.0,15568,27.682077,85.319258,1274.4728
4,27.0,2.263255e+07,1.189348e+08,-1535.173,46.0,15568,27.682077,85.319258,1274.4728

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112082 entries, 0 to 112081
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   SatelliteID   112082 non-null  float64
 1   C1C           112082 non-null  float64
 2   L1C           112082 non-null  float64
 3   D1C           112082 non-null  float64
 4   S1C           112082 non-null  float64
 5   GPST_seconds  112082 non-null  int64
 6   Latitude      110856 non-null  float64
 7   Longitude     110856 non-null  float64
 8   Height        110856 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 7.7 MB

In [43]:
df[df['GPST_seconds'] == 21031]

,SatelliteID,C1C,L1C,D1C,S1C,GPST_seconds,Latitude,Longitude,Height
77985,4.0,2.520426e+07,1.207526e+08,-3936.715,26.0,21031,NaN,NaN,NaN
77986,7.0,2.229944e+07,1.171844e+08,1270.947,47.0,21031,NaN,NaN,NaN
77987,8.0,2.271586e+07,1.141012e+08,-2583.928,46.0,21031,NaN,NaN,NaN
77988,9.0,2.287623e+07,1.095992e+08,-2792.997,24.0,21031,NaN,NaN,NaN
77989,17.0,2.466367e+07,1.296089e+08,3195.612,35.0,21031,NaN,NaN,NaN
77990,14.0,2.397615e+07,1.259955e+08,1362.484,42.0,21031,NaN,NaN,NaN
77991,30.0,2.379315e+07,1.250341e+08,2363.290,44.0,21031,NaN,NaN,NaN
77992,2.0,2.433278e+07,1.278697e+08,1726.948,43.0,21031,NaN,NaN,NaN
77993,21.0,2.374081e+07,1.247588e+08,1006.809,42.0,21031,NaN,NaN,NaN
77994,27.0,2.573087e+07,1.172995e+08,-3918.476,26.0,21031,NaN,NaN,NaN
77995,22.0,2.525157e+07,1.326991e+08,1581.305,33.0,21031,NaN,NaN,NaN
77996,4.0,2.520428e+07,1.149043e+08,-3070.470,27.0,21031,NaN,NaN,NaN
77997,7.0,2.229944e+07,9.131248e+07,989.844,47.0,21031,NaN,NaN,NaN
77998,8.0,2.271587e+07,9.301767e+07,-2013.135,49.0,21031,NaN,NaN,NaN
77999,9.0,2.287624e+07,1.042911e+08,-2172.373,28.0,21031,NaN,NaN,NaN
78000,14.0,2.397615e+07,9.817838e+07,1062.286,42.0,21031,NaN,NaN,NaN
78001,27.0,2.573088e+07,1.113296e+08,-3052.694,20.0,21031,NaN,NaN,NaN

In [20]:
df.isna().sum()

SatelliteID        0
C1C                0
L1C                0
D1C                0
S1C                0
GPST_seconds       0
Latitude        1226
Longitude       1226
Height          1226
dtype: int64

In [21]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 110856 entries, 0 to 112032
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   SatelliteID   110856 non-null  float64
 1   C1C           110856 non-null  float64
 2   L1C           110856 non-null  float64
 3   D1C           110856 non-null  float64
 4   S1C           110856 non-null  float64
 5   GPST_seconds  110856 non-null  int64
 6   Latitude      110856 non-null  float64
 7   Longitude     110856 non-null  float64
 8   Height        110856 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 8.5 MB

## We are Ready to Train our First AI Model with Test1

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import Pipeline



X = df[['SatelliteID', 'C1C', 'L1C', 'D1C', 'S1C', 'GPST_seconds']]
y = df[['Latitude', 'Longitude', 'Height']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


pipeline = Pipeline([
    ('scaler', StandardScaler()),  
    ('regressor', MultiOutputRegressor(RandomForestRegressor(n_estimators=100, random_state=42)))
])


pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared (R²) Score: {r2}")

Mean Squared Error: 0.12955131419239818
R-squared (R²) Score: 0.9995714817605402

In [44]:
fixed_data = []
for t, group in df.groupby('GPST_seconds'):
    group = group.sort_values('SatelliteID').reset_index(drop=True)
    # Pad/truncate each group to 17 rows
    group = group.reindex(range(17), fill_value=0)
    fixed_data.append(group)
df_fixed = pd.concat(fixed_data, ignore_index=True)

In [45]:
len(df_fixed)

136323

In [48]:
df_fixed.head(20)

,SatelliteID,C1C,L1C,D1C,S1C,GPST_seconds,Latitude,Longitude,Height
0,4.0,2.183553e+07,1.147465e+08,-2062.373,44.0,15568,27.682077,85.319258,1274.4728
1,4.0,2.183554e+07,8.941286e+07,-1607.162,48.0,15568,27.682077,85.319258,1274.4728
2,7.0,2.403299e+07,9.841108e+07,1402.741,43.0,15568,27.682077,85.319258,1274.4728
3,7.0,2.403299e+07,1.262942e+08,1800.175,46.0,15568,27.682077,85.319258,1274.4728
4,8.0,2.177553e+07,8.916716e+07,760.247,47.0,15568,27.682077,85.319258,1274.4728
5,8.0,2.177553e+07,1.144312e+08,975.683,46.0,15568,27.682077,85.319258,1274.4728
6,9.0,2.159508e+07,1.134829e+08,541.655,49.0,15568,27.682077,85.319258,1274.4728
7,9.0,2.159509e+07,8.842827e+07,421.945,48.0,15568,27.682077,85.319258,1274.4728
8,27.0,2.263255e+07,1.189348e+08,-1535.173,46.0,15568,27.682077,85.319258,1274.4728
9,27.0,2.263256e+07,9.267653e+07,-1196.272,46.0,15568,27.682077,85.319258,1274.4728
10,0.0,0.000000e+00,0.000000e+00,0.000,0.0,0,0.000000,0.000000,0.0000
11,0.0,0.000000e+00,0.000000e+00,0.000,0.0,0,0.000000,0.000000,0.0000
12,0.0,0.000000e+00,0.000000e+00,0.000,0.0,0,0.000000,0.000000,0.0000
13,0.0,0.000000e+00,0.000000e+00,0.000,0.0,0,0.000000,0.000000,0.0000
14,0.0,0.000000e+00,0.000000e+00,0.000,0.0,0,0.000000,0.000000,0.0000
15,0.0,0.000000e+00,0.000000e+00,0.000,0.0,0,0.000000,0.000000,0.0000
16,0.0,0.000000e+00,0.000000e+00,0.000,0.0,0,0.000000,0.000000,0.0000
17,4.0,2.183593e+07,1.147485e+08,-2063.032,44.0,15569,27.682035,85.319265,1255.8659
18,4.0,2.183593e+07,8.941447e+07,-1607.754,48.0,15569,27.682035,85.319265,1255.8659
19,7.0,2.403265e+07,9.840968e+07,1402.422,43.0,15569,27.682035,85.319265,1255.8659

In [49]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_fixed[['C1C','L1C','D1C','S1C']] = scaler.fit_transform(df_fixed[['C1C','L1C','D1C','S1C']])

In [52]:
import pymap3d as pm
# Define an origin (lat0, lon0, h0) e.g. the first row’s position
lat0, lon0, h0 = df2.loc[0, ['Latitude','Longitude','Height']]
# Convert each lat/lon/h to ENU
e, n, u = pm.geodetic2enu(df_fixed.Latitude, df_fixed.Longitude, df_fixed.Height, lat0, lon0, h0)
df_fixed[['E','N','U']] = pd.DataFrame({'E':e, 'N':n, 'U':u})

In [53]:
df_fixed.isna().sum()

SatelliteID        0
C1C                0
L1C                0
D1C                0
S1C                0
GPST_seconds       0
Latitude        1226
Longitude       1226
Height          1226
E               1226
N               1226
U               1226
dtype: int64

In [54]:
df_fixed = df_fixed.dropna()
df_fixed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 135097 entries, 0 to 136322
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   SatelliteID   135097 non-null  float64
 1   C1C           135097 non-null  float64
 2   L1C           135097 non-null  float64
 3   D1C           135097 non-null  float64
 4   S1C           135097 non-null  float64
 5   GPST_seconds  135097 non-null  int64
 6   Latitude      135097 non-null  float64
 7   Longitude     135097 non-null  float64
 8   Height        135097 non-null  float64
 9   E             135097 non-null  float64
 10  N             135097 non-null  float64
 11  U             135097 non-null  float64
dtypes: float64(11), int64(1)
memory usage: 13.4 MB

In [ ]:
df_fixed.drop(columns=['Latitude', 'Longitude','Height'], inplace=True)

KeyError: "['Latitude', 'Longitude', 'Height'] not found in axis"

In [57]:
df_fixed.head(20)

,SatelliteID,C1C,L1C,D1C,S1C,GPST_seconds,E,N,U
0,4.0,0.817768,0.817768,0.259811,0.846154,15568,0.000000e+00,0.000000,0.000000e+00
1,4.0,0.817768,0.637222,0.320305,0.923077,15568,0.000000e+00,0.000000,0.000000e+00
2,7.0,0.900066,0.701350,0.720299,0.826923,15568,0.000000e+00,0.000000,0.000000e+00
3,7.0,0.900066,0.900065,0.773115,0.884615,15568,0.000000e+00,0.000000,0.000000e+00
4,8.0,0.815521,0.635471,0.634916,0.903846,15568,0.000000e+00,0.000000,0.000000e+00
5,8.0,0.815521,0.815521,0.663546,0.884615,15568,0.000000e+00,0.000000,0.000000e+00
6,9.0,0.808763,0.808763,0.605867,0.942308,15568,0.000000e+00,0.000000,0.000000e+00
7,9.0,0.808763,0.630205,0.589959,0.923077,15568,0.000000e+00,0.000000,0.000000e+00
8,27.0,0.847617,0.847617,0.329872,0.884615,15568,0.000000e+00,0.000000,0.000000e+00
9,27.0,0.847618,0.660481,0.374909,0.884615,15568,0.000000e+00,0.000000,0.000000e+00
10,0.0,0.000000,0.000000,0.533885,0.000000,0,-6.356865e+06,-224217.966954,-5.913898e+06
11,0.0,0.000000,0.000000,0.533885,0.000000,0,-6.356865e+06,-224217.966954,-5.913898e+06
12,0.0,0.000000,0.000000,0.533885,0.000000,0,-6.356865e+06,-224217.966954,-5.913898e+06
13,0.0,0.000000,0.000000,0.533885,0.000000,0,-6.356865e+06,-224217.966954,-5.913898e+06
14,0.0,0.000000,0.000000,0.533885,0.000000,0,-6.356865e+06,-224217.966954,-5.913898e+06
15,0.0,0.000000,0.000000,0.533885,0.000000,0,-6.356865e+06,-224217.966954,-5.913898e+06
16,0.0,0.000000,0.000000,0.533885,0.000000,0,-6.356865e+06,-224217.966954,-5.913898e+06
17,4.0,0.817783,0.817783,0.259723,0.846154,15569,7.156425e-01,-4.681391,-1.860690e+01
18,4.0,0.817783,0.637233,0.320227,0.923077,15569,7.156425e-01,-4.681391,-1.860690e+01
19,7.0,0.900053,0.701340,0.720257,0.826923,15569,7.156425e-01,-4.681391,-1.860690e+01

In [58]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# --- Example data (replace with actual GNSS data) ---
np.random.seed(0)
X = df_fixed[['SatelliteID', 'C1C', 'L1C', 'D1C', 'S1C', 'GPST_seconds']]
y = df_fixed[['E', 'N', 'U']]

# --- Split into train/test sets (80% train, 20% test) ---
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# --- Initialize and train the multi-output model ---
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# --- Predict on the test set ---
y_pred = model.predict(X_test)

# --- Compute RMSE for each output (square root of MSE) ---
mse = mean_squared_error(y_test, y_pred, multioutput='raw_values')
rmse = np.sqrt(mse)

# --- Compute R^2 for each output ---
r2 = r2_score(y_test, y_pred, multioutput='raw_values')

# --- Print the evaluation metrics per dimension ---
target_names = ['East', 'North', 'Up']
for idx, name in enumerate(target_names):
    print(f"{name} - RMSE: {rmse[idx]:.3f}, R^2: {r2[idx]:.3f}")

East - RMSE: 0.075, R^2: 1.000
North - RMSE: 0.088, R^2: 1.000
Up - RMSE: 0.211, R^2: 1.000