In [5]:
import os
os.chdir("F:\zizo\RTKCorrection")
%pwd

'F:\\zizo\\RTKCorrection'

In [6]:
import pandas as pd
df1 = pd.read_csv("data/input_preprocesed.csv")
df2 = pd.read_csv("data/corrected_positions.csv")
df1.head()

   SatelliteID           C1C           L1C       D1C   S1C  GPST_seconds
0          4.0  2.183553e+07  1.147465e+08 -2062.373  44.0         15568
1          7.0  2.403299e+07  1.262942e+08  1800.175  46.0         15568
2          8.0  2.177553e+07  1.144312e+08   975.683  46.0         15568
3          9.0  2.159508e+07  1.134829e+08   541.655  49.0         15568
4         27.0  2.263255e+07  1.189348e+08 -1535.173  46.0         15568

In [7]:
df2.head()

    Latitude  Longitude     Height  GPST_seconds
0  27.682077  85.319258  1274.4728         15568
1  27.682035  85.319265  1255.8659         15569
2  27.682052  85.319251  1264.7933         15570
3  27.682024  85.319246  1249.0760         15571
4  27.681999  85.319208  1265.3450         15572

In [9]:
df = pd.merge(df1, df2, on='GPST_seconds', how='left')
len(df)

112082